/*Not for use, just for reference*/

 Colorstorage {
    /* Mignola based colors */
    color: #080503;    /* Mignola Black */
    color: #52534C;    /* Gun-smoke Grey */
    color: #E4D8C7;    /* Alabaster */
    color: #AB7A32;    /* Dirty Gold */
    color: #9F1422;     /* Hellboy Red */ 
    /* Fonts */
    font-family: 'Raleway', sans-serif; /* The legible one */ 
    font-family: 'Rye', cursive; /* Ultra professional cowboy font*/ 
}

h1 {
    font-family: 'Rye', cursive;
    text-align: center;
    font-size: 42px;
}

html, body{
    background-image: linear-gradient 42deg (#c08159, #080503, #000000);
    background: #080503;
    color: #E4D8C7;
    font-family: 'Raleway', sans-serif;
}

/* Contact Page */

form {
    width: 100%;
    background-color: #9F1422;
    padding: 12px;
    border-radius: 15px;
    border: solid black 12px;
    filter: drop-shadow(0 0 72px #9F1422);
}

.card-title {
    font-weight: bolder;
    background-image: url("streak_rd.png");
    background-position: unset;
    margin-bottom: 5px;
    width: 650px;
    background-color: transparent;
    background-size: 95%;
    background-repeat: no-repeat;
    filter: drop-shadow(5px 8px 8px #080503);
    color: #c99d5b;
    font-family: 'Rye', cursive;
    font-size: 30px;
}

.content {
    z-index: -2;
    position:relative;
}

.card-body {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    background-image: url("splatter.png");
    filter: drop-shadow(5px 8px 18px #080503);
    background-color: #2b2c25;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: fit-content;
    width: fit-content;
    background-size: 100%;
    background-position: left;
    background-repeat: no-repeat;
}

#cardthing {
    background-color: transparent;
}

#maincard {
    background: transparent;
    width: auto;
}

#mainbody {
    background: transparent;
    width: 100%;
    filter: drop-shadow(0 0 0.75rem #9F1422);
}

/* Navbar */

#navDeco {
    z-index: 9;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border: dashed #770f1a 2px;
    width: 100%;
    border-bottom-left-radius: 64px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 13px;
    /* font stuff */
    font-family: 'Rye', sans-serif;
    font-size: medium;
    overflow: hidden;
    background-color: #9F1422;
    color: #E4D8C7;
}

#navDeco:hover {

}

#mainName {
    font-size: 25px;
    filter: drop-shadow(5px 5px 4px #080503);
    background-image: url("streak_rd.png");
    background-size: 200px;
    width: fit-content;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-left: 45px ;
    margin-bottom: 18px ;
}

#subheader {
     color: #080503;
    font-size: 14px;
    margin-right: 20px;
    margin-top: 4px;
}

#navselect, #navdisabled {
    margin-left: 10px ;
    margin-bottom: 5px ;
    padding-left: 95px;
}

#navBack {
    background-color: #770f1a;
    border-radius: 5px;
}

#navBtn:hover {
    width: 75px;
    color: black;
    background: #7c1925;
    border: solid black 2px;
    
}

/* Red Dead style nav bar formatting */

/* Main nav selection */
#navselect {
    background-image: url("streak_rd.png");
    background-color: transparent;
    background-size: 45%;
    background-position: left;
    background-repeat: no-repeat;
    
}

#navselect:hover {
    background-image: url("streak_blk.png");
    background-size: 45%;
    font-size: 20px;
    background-position: left;
    background-repeat: no-repeat;
    transition: ease-out 0.5s;
    color: black;
    filter: drop-shadow(5px 8px 8px #080503);
}

/* Sub header selectors */

#subnav {
    float: inherit;
    margin-bottom: 12px;
    border-bottom: dotted #55121a 2px;
}

#navselect2 {
    background-image: url("streak_rd.png");
    margin-left: 10%;
    margin-bottom: 15px;
    padding-left: 25px;
    width: 305px;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    font-size: 12px;
    background-color: transparent;
    background-size: 45%;
    background-position: left;
    background-repeat: no-repeat;
    filter: drop-shadow(5px 8px 8px #080503);
    
}

#navselect2:hover {
    background-image: url("splatter2.png");
    font-size: 19px;
    color: white;
    background-color: transparent;
    background-size: 40%;
    width: 35%;
    background-position: left;
    background-repeat: no-repeat;
    transition: ease-out 0.5s;
        filter: drop-shadow(5px 8px 8px #080503);
    
}


/* Current Page */
#navdisabled {
    background-image: url("splatter.png");
    border-radius: 25px;
    filter: drop-shadow(5px 2px 20px #080503);
    background-color: #7c1925;
    background-size: 100%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
    color: white;
}


/* PAGE FORMAT */

.content {
    z-index: -1;
}

#leftcard {
    float: left;
}

#lightcard {
        padding-right: 15px;
        padding-left: 9px;
        text-align: end;
}

#lowercard {
    margin-left: 50px;
    background-image: url("splatter2.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 75%;
    background-size: 365px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 15%;
    border-radius: 5px;
    float: left;
}

/* The side card on the page */

#sideCard {
    background-image: linear-gradient(#c09048, #AB7A32, #5c3e12);
    border: solid #3b290e 3px;
    padding: 10px;
    color: black;
}

#buttonthing {
    float: left;
    background-image: linear-gradient(#52534C, #080503);
    color: #E4D8C7;
    text-align: center;
    padding: 10px;
    margin-left: 78px;
    border: solid black 1px;

}
#buttonthing:hover {
    background-image: linear-gradient(#676861, #27221e);
    color: #E4D8C7;
    padding-left: 45px;
    padding-right: 35px;
    margin-left: 65px;
    border: solid black 1px;

}