  #linkBtn {
    width: 13%;
    height: auto;
    float: center;
    margin: 15px;
justify-content: space-evenly;
}
 
#linkBtn:active {
    width: 10%;
    height: auto;
    float: center;
    margin: 15px;
justify-content: space-evenly;
}

#linkBtn:hover {
    width: 12%;
    height: auto;
    margin: 2%;
    transition: ease-in-out 0.2s;
}

